body {
	color: #000;
	font-family: "Microsoft YaHei", "Consolas";
}
.ann_highlight {
	background: yellow;
}

.ann_highlight:hover{
	text-decoration: line-through;
	cursor: pointer;
}

.inplace-btn {
    position: absolute;
    opacity:0.5;
	display: none;
}

.inplace-btn:hover {
	opacity:1;
}

.hand {
	cursor: pointer;
}