body {
	color: #000;
	font-family: "Microsoft YaHei", "Consolas";
}
.ann_highlight {
	background: yellow;
}

.ann_highlight:hover{
	text-decoration: line-through;
	cursor: pointer;
}

.float_btn {
    /*  from http://www.bestcssbuttongenerator.com/#/0  */

	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;

	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:4px 8px;
	text-decoration:none;
    display:inline-block;
    /* position */
    position: absolute;
    opacity:0.5;
    
}

.float_btn.green {
    -moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#44c767;
    border:1px solid #18ab29;
    text-shadow:0px 0px 0px #2f6627;

    display: none;
}

.float_btn.green:hover {
	background-color:#5cbf2a;
    opacity:1;
}

.float_btn.red {
	box-shadow: 0px 0px 0px 0px #EFB28C;
	background-color:#E8837E;
    border:1px solid #E8837E;
    text-shadow:0px 0px 0px #E8837E;

    display: none;
}

.float_btn.red:hover {
	background-color:#E9837E;
    opacity:1;
}