<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- http://v3.bootcss.com/examples/jumbotron/# -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Annotation </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>

<body>
    <div class="container">
        <div class="progress">
            {% set progress = cur_num|int / fragments_num|int * 100 %}
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{  progress }}%; min-width: 10em;">
            当前进度: {{ cur_num }}/{{ fragments_num }}
        </div>
        </div>
        <div id="annotation_content">
        </div>
        <div>



        </div>
        <nav aria-label="...">
            <ul class="pager">
            <li class="previous">
                {%  set pre_page = cur_num|int - 1 %}
                {%  if pre_page <= 0 %}
                <a href="/"><span aria-hidden="true">&larr;</span> 开始页</a>
                {% else %}
                <a href="/annotation/{{ pre_page }}"><span aria-hidden="true">&larr;</span>上一条(第{{ pre_page }}条)</a>
                {% endif %}
            </li>

            <li class="next">
                {% set next_page = cur_num|int + 1%}
                {% if next_page > fragments_num|int %}
                <a href="/finish">完成<span aria-hidden="true">&rarr;</span></a>
                {% else %}
                <a href="/annotation/{{ next_page }}">下一条(第{{ next_page }}条)<span aria-hidden="true">&rarr;</span></a>
                {% endif %}  
            </li>
            </ul>
        </nav>
    </div>
    <a href="#" class="float_btn green" id="add_word">添加</a>
    <a href="#" class="float_btn red" id="remove_word">删除</a>
    <!-- scripts  -->
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.0.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='highlight.js') }}"></script>
    <script type=text/javascript>
        // pre-set the root url, http://flask.pocoo.org/docs/0.12/patterns/jquery/
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        // pre-set the fragment id
        $CURRENT_FRAGMENT_ID = {{ cur_num }} - 1;
        // global variable
        cachedData = window._cachedData = {};

    </script>

    <script>
        $(function(){
            var contentObj = $("#annotation_content"),
                addBtnObj = $("#add_word"),
                removeBtnObj = $("#remove_word"),
                selectedText = "",
                toRemoveText = "",
                toRemoveTextSource,
                removedLineNum2MatchResult;
            
            var saveSelectedText = function(text){
                console.log(text);
                selectedText = text;
            }
            var loadSelectedText = function(){
                return selectedText;
            }

            var saveToRemoveText = function(text){
                console.log(text);
                toRemoveText = text;
            }
            var loadToRemoveText = function(){
                return toRemoveText;
            }

            var saveToRemoveTextSource = function(source){
                toRemoveTextSource = source;
            }
            var loadToRemoveTextSource = function(){
                return toRemoveTextSource;
            }

            var saveRemovedLineNum2MatchResult = function(matchResult){
                removedLineNum2MatchResult = matchResult;
            }
            var loadRemovedLineNum2MatchResult = function(){
                return removedLineNum2MatchResult;
            }


            var getFragmentFromServer = function(){
                var targetUrl = $SCRIPT_ROOT + "/annotation/get_text"
                return $.getJSON(targetUrl, {
                    fragment_id: $CURRENT_FRAGMENT_ID   
                }, function(fragment){
                    // fragment: list of lines, [ "...", ]
                    cachedData["fragment"] = fragment;
                });
            }

            var getCurrentMatchFromServer = function(){
                var targetUrl = $SCRIPT_ROOT + "/annotation/current_match";
                return $.getJSON(targetUrl, {
                    fragment_id: $CURRENT_FRAGMENT_ID
                }, function(matchRangeResult){
                    // match range result
                    // { lineNum:  [ [startPos1, endPos1], ... ], ... }
                    cachedData["currentMatchResult"] = matchRangeResult;
                });
            }

            var initContent = function(fragment, lineNum2MatchResult){
                var sentObjArray = [],
                    sentLength = fragment.length;
                cachedData["contentDomArray"] = []
                for(var i = 0; i < sentLength; i++){
                    var  p = document.createElement('P'),
                         pText = fragment[i],
                         pHtml = (i in lineNum2MatchResult) 
                                 ? addHighlightTag(pText, lineNum2MatchResult[i])
                                 : pText;
                    $(p).html(pHtml).appendTo(contentObj);
                    cachedData["contentDomArray"].push(p);
                }
            }
            
            var checkToRemoveWordSource = function(){
                var targetUrl = $SCRIPT_ROOT + "/annotation/check_word_source",
                    word = loadToRemoveText();
                if(word.length == 0){ return; }
                return $.getJSON(targetUrl, {
                    word: word
                }, function(wordSource){
                    saveToRemoveTextSource(wordSource); 
                    console.log(wordSource);
                });
            }
            
            var addMatchResult = function(oriLineNum2MatchResult, newLineNum2MatchResult){
                for(var lineNum in newLineNum2MatchResult){
                    var newRangeList = newLineNum2MatchResult[lineNum],
                        oriRangeList = (lineNum in oriLineNum2MatchResult)
                                        ? oriLineNum2MatchResult[lineNum]
                                        : [];
                    for(var i = 0; i < newRangeList.length; i++){
                        oriRangeList = insertInterval(oriRangeList, newRangeList[i]);
                    }
                    oriLineNum2MatchResult[lineNum] = oriRangeList;
                }
            }

            var removeMatchResult = function(oriLineNum2MatchResult,  
                                             removedLineNum2MatchResult){
                for(var lineNum in removedLineNum2MatchResult){
                    var removedRangeList = removedLineNum2MatchResult[lineNum],
                        oriRangeList = (lineNum in oriLineNum2MatchResult)
                                        ? oriLineNum2MatchResult[lineNum]
                                        : [];
                    for(var i = 0; i < removedRangeList.length; i++){
                        oriRangeList = removeInterval(oriRangeList, removedRangeList[i]);
                    }
                    if(oriRangeList.length == 0 && lineNum in oriLineNum2MatchResult){
                        delete oriLineNum2MatchResult[lineNum];
                    }else {
                        oriLineNum2MatchResult[lineNum] = oriRangeList;
                    }

                }

            }

            var generateLineNumArrFromMatchResult = function(matchResult){
                var lineNumArr = [];
                for(var lineNum in matchResult){
                    lineNumArr.push(lineNum);
                }
                return lineNumArr;
            }

            var updateContent = function(fragment, changedLineNumArr,
                                         lineNum2MatchResult){
                for(var i = 0; i < changedLineNumArr.length; i++){
                    var lineNum = changedLineNumArr[i],
                        pText = fragment[lineNum],
                        rangeArray = (lineNum in lineNum2MatchResult) 
                                     ? lineNum2MatchResult[lineNum]
                                     : [],
                        newHtml = addHighlightTag(pText, rangeArray),
                        pDom = cachedData["contentDomArray"][lineNum];
                    $(pDom).html(newHtml);
                }
        
            }

            var addWordAndUpdateMatch = function(){
                var targetUrl = $SCRIPT_ROOT + "/annotation/add_word";
                var lastSelectedText = loadSelectedText();
                if(lastSelectedText){ 
                    return $.getJSON(targetUrl, {
                        fragment_id: $CURRENT_FRAGMENT_ID,
                        word: lastSelectedText
                    }, function(newMatchedResult){
                        console.log(newMatchedResult);  
                        addMatchResult(cachedData["currentMatchResult"],
                                        newMatchedResult);
                        var changedLineNumArr = generateLineNumArrFromMatchResult(
                            newMatchedResult
                        );
                        updateContent(cachedData["fragment"], 
                                      changedLineNumArr,
                                      cachedData["currentMatchResult"]);
                    })
             
               }
            }

            var removeWordAndUpdateContent = function(){
                var targetUrl = $SCRIPT_ROOT + "/annotation/remove_word",
                    word = loadToRemoveText(),
                    wordSource = loadToRemoveTextSource();
                if(!word){ return; }
                return $.getJSON(targetUrl, {
                    word: word,
                    word_source: wordSource,
                    fragment_id: $CURRENT_FRAGMENT_ID
                }, function(removedLineNum2MatchResult){
                    removeMatchResult(cachedData["currentMatchResult"],
                                      removedLineNum2MatchResult);
                    var changedLineNumArr = generateLineNumArrFromMatchResult(
                        removedLineNum2MatchResult
                    );
                    updateContent(cachedData["fragment"],
                                  changedLineNumArr,
                                  cachedData["currentMatchResult"]);
                    
                })
            }

            var showBtn = function(btnEle, eX, eY){
                var x = eX + 5,
                    y = eY + 8;
                $(btnEle).css({"display": "inline-block",
                    "left": x + "px",
                    "top": y + "px"
                });
            }

            var hideBtn = function(btnEle){
                btnEle.css({"display": "none"});
            }


            contentObj.bind({
                "mousedown": function(e){
                    hideBtn(addBtnObj);
                    hideBtn(removeBtnObj);
                },
                "mouseup": function(e){
                    var x = e.pageX,
                        y = e.pageY;
                    var curSelectedText = getSelectionText();
                    if(curSelectedText){
                        saveSelectedText(curSelectedText);
                        showBtn(addBtnObj, x, y);
                    }
                },
                "click": function(e){
                    var obj = e.target;
                    if(obj.nodeName == "SPAN" && obj.getAttribute("class") == HIGHLIGHT_CLS_NAME){
                        var text = $(obj).text();
                        saveToRemoveText(text);
                        showBtn(removeBtnObj, e.pageX, e.pageY);
                    }
                }
            });

            addBtnObj.bind({
                "click": function(){
                    addWordAndUpdateMatch();
                    // hidden the btn
                    hideBtn($(this));
                    return false;
                }
            })

            removeBtnObj.bind({
                "click": function(){
                    var checkPromise = checkToRemoveWordSource();
                    if(checkPromise){
                        checkPromise.then(function(){
                            var wordSource = loadToRemoveTextSource();
                            if(wordSource == "ORIGIN"){
                                var response = confirm("确定要删除来自底表的词？");
                                if(response == false){
                                    return false;
                                }
                            }
                            else if(wordSource == "OTHERS"){
                                console.log("unkown to-removed word source")
                                return false;
                            }
                            // remove and update
                            removeWordAndUpdateContent();
                        });
                    }
                    hideBtn($(this));
                    return false;
                }
            })

            getFragmentFromServer().then(function(){    
                getCurrentMatchFromServer().then(function(){
                    initContent(cachedData["fragment"], cachedData["currentMatchResult"]);

                })
            });
        });

    </script>
</body>

</html>
