<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- http://v3.bootcss.com/examples/jumbotron/# -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>标注完成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" />
</head>

<body>

<div class="jumbotron">
    <div class="container">
        <h1>幸苦了！标注完成。</h1>
        <p> 请将 <code>data</code> 文件夹打包提交。
    </div>
</div>

</body>
